# Env
NODE_ENV = Complete with Node.js Environment

# Port
PORT = Complete with Port

# LOG
LOG_LEVEL = Complete with the level logger

# Mapbox
MAPBOX_API_KEY = Complete with Mapbox api key

# Open Weather Map
OPENWEATHERMAP_API_KEY = Complete with Open Weather Api Key